# Data preparation - Performance aux J.O. par pays
---

In [2]:
import pandas as pd
#attention à renseigner le bon nom de dossier
df_jo = pd.read_csv("athlete_events.csv", sep = ",")
df_NOC = pd.read_csv("noc_regions.csv", sep = ",")
df_NOC.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

### Performances par pays, toutes éditions confondues

In [3]:
#liaison avec df NOC car les nations du athletes.csv peuvent être fausses
df = pd.merge(df_jo, df_NOC, on='NOC', how='left')
df = df.rename(columns={'region':'Nation'})

# Données des jeux d'été uniquement
df = df.loc[df['Season'] == "Summer"]

# Sélection des colonnes à garder
df= df.loc[:, ["Nation", "NOC", "Year", "Sport", "Event", "Medal"]]

# Suppression des valeurs nulles : athlètes n'ayant pas eu de médaille
df = df.dropna()


#On conserve une seule médaille par event
df = df.drop_duplicates(subset=["Event", "Medal", "Year"])

df_medals = df
df_gold = df.loc[df['Medal'] == "Gold"]
df_medals

,Nation,NOC,Year,Sport,Event,Medal
3,Denmark,DEN,1900,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,Finland,FIN,1920,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,Finland,FIN,1920,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
41,Finland,FIN,1948,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,Finland,FIN,1948,Gymnastics,Gymnastics Men's Team All-Around,Gold
...,...,...,...,...,...,...
270986,Russia,RUS,2008,Tennis,Tennis Women's Singles,Bronze
271010,Austria,AUT,1924,Weightlifting,Weightlifting Men's Lightweight,Silver
271076,Russia,URS,1952,Athletics,Athletics Women's Shot Put,Gold
271078,Russia,URS,1956,Athletics,Athletics Women's Shot Put,Silver
271080,Russia,URS,1964,Athletics,Athletics Women's Shot Put,Bronze

In [4]:
#Pour afficher la liste des sports collectifs : 
df= df_jo
df=df.loc[df['Medal'] == "Gold"]
duplicates = df.duplicated(subset=["Event", "Medal", "Year"], keep = False)
df_duplicates = df[duplicates]
print(df_duplicates["Event"].unique())
# print(len(df["Event"].unique()))

["Tug-Of-War Men's Tug-Of-War" "Gymnastics Men's Team All-Around"
 "Gymnastics Men's Pommelled Horse" "Handball Women's Handball"
 "Speed Skating Men's 1,500 metres" 'Sailing Mixed 8 metres'
 "Cycling Men's Road Race, Team"
 "Canoeing Men's Kayak Fours, 1,000 metres" "Handball Men's Handball"
 "Football Men's Football" "Water Polo Men's Water Polo"
 'Sailing Mixed Two Person Heavyweight Dinghy'
 "Rowing Men's Quadruple Sculls" "Rowing Men's Double Sculls"
 "Rowing Men's Coxed Pairs" "Hockey Men's Hockey"
 "Basketball Men's Basketball" "Nordic Combined Men's Team"
 "Ice Hockey Men's Ice Hockey" "Rowing Men's Coxed Eights"
 "Baseball Men's Baseball" "Athletics Men's 4 x 400 metres Relay"
 "Gymnastics Men's Team All-Around, Free System"
 "Gymnastics Men's Team All-Around, Swedish System" "Bobsleigh Men's Two"
 "Curling Men's Curling" "Cycling Men's Team Pursuit, 4,000 metres"
 "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team"
 "Volleyball Women's Volleyball" "Canoeing Men's Canadian Doubles, Slalom"
 "Equestrianism Men's Three-Day Event, Team"
 "Swimming Men's 4 x 100 metres Freestyle Relay"
 "Swimming Men's 4 x 100 metres Medley Relay"
 "Gymnastics Women's Team All-Around" "Hockey Women's Hockey"
 "Ice Hockey Women's Ice Hockey" "Fencing Women's Foil, Team"
 "Fencing Men's epee, Team" "Rowing Men's 17-Man Naval Rowing Boats"
 'Badminton Mixed Doubles'
 "Swimming Women's 4 x 100 metres Freestyle Relay"
 "Swimming Women's 4 x 100 metres Medley Relay"
 "Rowing Women's Coxed Eights" "Cycling Men's Madison" "Rugby Men's Rugby"
 "Canoeing Men's Kayak Doubles, 10,000 metres" 'Sailing Mixed 6 metres'
 "Football Women's Football" "Biathlon Women's 4 x 6 kilometres Relay"
 "Fencing Men's Foil, Team" "Athletics Women's 4 x 100 metres Relay"
 "Athletics Men's 4 x 100 metres Relay"
 "Cross Country Skiing Men's 4 x 10 kilometres Relay"
 "Rowing Men's Coxed Fours" 'Sailing Mixed Two Person Keelboat'
 "Sailing Women's Two Person Dinghy" "Rowing Women's Double Sculls"
 "Biathlon Men's 4 x 7.5 kilometres Relay"
 "Beach Volleyball Men's Beach Volleyball"
 "Rhythmic Gymnastics Women's Group"
 "Archery Men's Target Archery, 33 metres, Team"
 "Archery Men's Target Archery, 50 metres, Team"
 'Sailing Mixed Three Person Keelboat' 'Sailing Mixed 12 metres'
 "Rowing Men's Coxed Fours, Inriggers"
 'Equestrianism Mixed Three-Day Event, Team'
 "Water Polo Women's Water Polo"
 "Cross Country Skiing Men's 10/10 kilometres Pursuit"
 "Bobsleigh Men's Four" "Equestrianism Men's Jumping, Team"
 "Fencing Men's Sabre, Team" "Volleyball Men's Volleyball"
 "Softball Women's Softball"
 "Shooting Men's Small-Bore Rifle, 50 and 100 yards, Team"
 "Cross Country Skiing Women's 4 x 5 kilometres Relay"
 "Cycling Men's 100 kilometres Team Time Trial"
 "Short Track Speed Skating Women's 3,000 metres Relay"
 "Short Track Speed Skating Men's 5,000 metres Relay"
 "Rowing Men's Lightweight Coxless Fours"
 "Swimming Women's 4 x 200 metres Freestyle Relay"
 "Athletics Women's 4 x 400 metres Relay"
 "Canoeing Women's Kayak Doubles, 500 metres"
 "Athletics Men's Cross-Country, Team"
 "Cross Country Skiing Women's Team Sprint" "Polo Men's Polo"
 "Rowing Men's Coxless Pairs" "Speed Skating Men's Team Pursuit (8 laps)"
 'Figure Skating Mixed Ice Dancing'
 "Speed Skating Women's Team Pursuit (6 laps)"
 "Biathlon Women's 4 x 7.5 kilometres Relay" "Rowing Women's Coxed Fours"
 "Swimming Men's 4 x 200 metres Freestyle Relay"
 "Rowing Women's Coxless Pairs" "Cycling Women's Team Pursuit"
 'Sailing Mixed 10 metres' "Shooting Men's Trap, Team"
 "Luge Mixed (Men)'s Doubles" 'Luge Mixed Team Relay'
 "Rowing Men's Coxed Fours, Outriggers" "Rowing Men's Coxless Fours"
 "Gymnastics Men's Horizontal Bar"
 "Shooting Men's Running Target, Single Shot, Team"
 'Equestrianism Mixed Jumping, Team' "Racquets Men's Doubles"
 "Military Ski Patrol Men's Military Ski Patrol"
 "Cycling Men's Tandem Sprint, 2,000 metres"
 "Cross Country Skiing Women's 3 x 5 kilometres Relay"
 'Sailing Mixed 0.5-1 Ton' "Basketball Women's Basketball"
 'Croquet Mixed Doubles' "Shooting Men's Free Pistol, 50 yards, Team"
 "Sailing Women's Three Person Keelboat" 'Tennis Mixed Doubles'
 "Synchronized Swimming Women's Team" "Fencing Women's epee, Team"
 "Rowing Men's Lightweight Double Sculls"
 "Synchronized Swimming Women's Solo"
 "Rowing Women's Coxed Quadruple Sculls" 'Figure Skating Mixed Pairs'
 'Art Competitions Mixed Architecture, Architectural Designs'
 "Bobsleigh Women's Two" "Modern Pentathlon Men's Team"
 'Equestrianism Mixed Dressage, Team' 'Sailing Mixed Multihull'
 "Gymnastics Men's Horse Vault" "Rowing Women's Quadruple Sculls"
 "Rowing Women's Coxless Fours" "Tennis Men's Doubles, Covered Courts"
 "Canoeing Men's Kayak Doubles, 1,000 metres" "Cricket Men's Cricket"
 "Rugby Sevens Women's Rugby Sevens" "Tennis Men's Doubles"
 "Gymnastics Men's Rings" "Sailing Men's Two Person Dinghy"
 "Rowing Men's 6-Man Naval Rowing Boats"
 "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team"
 'Sailing Mixed 30 metres' "Athletics Men's 5,000 metres, Team"
 'Biathlon Mixed 2 x 6 kilometres and 2 x 7.5 kilometres Relay'
 "Gymnastics Women's Team Portable Apparatus"
 "Athletics Men's 3,000 metres, Team" "Curling Women's Curling"
 "Athletics Men's Pentathlon" 'Sailing Mixed 10-20 Ton'
 "Diving Men's Synchronized Springboard" 'Sailing Mixed 7 metres'
 "Shooting Men's Free Rifle, Three Positions, 300 metres, Team"
 "Canoeing Men's Folding Kayak Doubles, 10 kilometres"
 "Lacrosse Men's Lacrosse" 'Sailing Mixed 2-3 Ton'
 "Canoeing Men's Kayak Doubles, 500 metres" 'Figure Skating Mixed Team'
 "Gymnastics Men's Parallel Bars, Teams"
 "Gymnastics Men's Horizontal Bar, Teams"
 'Sailing Mixed Two Person Dinghy'
 "Canoeing Men's Canadian Doubles, 1,000 metres"
 "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres, Team"
 "Canoeing Men's Canadian Doubles, 10,000 metres"
 "Equestrianism Men's Vaulting, Team"
 "Shooting Men's Free Pistol, 50 metres, Team"
 "Biathlon Women's 3 x 7.5 kilometres Relay" 'Alpinism Mixed Alpinism'
 "Rowing Men's Coxed Pairs (1 kilometres)"
 "Rowing Men's Coxed Pairs (1 mile)" "Synchronized Swimming Women's Duet"
 "Equestrianism Men's Dressage, Team" "Sailing Men's Skiff"
 "Badminton Men's Doubles" "Diving Men's Synchronized Platform"
 "Shooting Men's Dueling Pistol, 30 metres, Team"
 'Sailing Mixed 6.5 metres' "Athletics Men's 1,600 metres Medley Relay"
 "Gymnastics Women's Floor Exercise" 'Sailing Mixed 5.5 metres'
 "Archery Women's Team" "Table Tennis Men's Doubles"
 "Diving Women's Synchronized Platform"
 "Archery Men's Pole Archery, Small Birds, Team"
 "Archery Men's Pole Archery, Large Birds, Team"
 "Athletics Men's 3 mile, Team" "Athletics Men's Pole Vault"
 "Beach Volleyball Women's Beach Volleyball"
 "Rowing Women's Lightweight Double Sculls"
 "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team"
 "Canoeing Men's Kayak Doubles, 200 metres"
 "Canoeing Women's Kayak Fours, 500 metres" "Golf Men's Team"
 'Sailing Mixed Open' "Rugby Sevens Men's Rugby Sevens"
 "Swimming Men's 4 x 50 Yard Freestyle Relay"
 "Basque Pelota Men's Two-Man Teams With Cesta"
 "Archery Men's Target Archery, 28 metres, Team" 'Sailing Mixed 1-2 Ton'
 "Table Tennis Women's Doubles" "Table Tennis Women's Team"
 'Tennis Mixed Doubles, Covered Courts'
 "Canoeing Men's Canadian Doubles, 500 metres" "Badminton Women's Doubles"
 "Ski Jumping Men's Large Hill, Team" "Fencing Women's Sabre, Team"
 "Swimming Men's 50 metres Freestyle" "Speed Skating Men's 500 metres"
 "Weightlifting Men's Lightweight"
 "Shooting Men's Military Rifle, Prone, 600 metres, Team"
 "Shooting Men's Small Bore-Rifle, Standing, 50 metres, Team"
 "Tennis Women's Doubles" 'Sailing Mixed Skiff'
 "Sailing Men's Two Person Keelboat" "Cycling Men's Team Sprint"
 'Motorboating Mixed B-Class (Under 60 Feet)' 'Motorboating Mixed C-Class'
 "Shooting Men's Military Rifle, Prone, 300 metres, Team"
 "Bobsleigh Men's Four/Five" "Archery Men's Team"
 "Shooting Men's Military Pistol, Team"
 "Cross Country Skiing Men's Team Sprint" 'Equestrianism Mixed High Jump'
 'Sailing Mixed 0-0.5 Ton' 'Sailing Mixed 3-10 Ton'
 "Alpine Skiing Women's Downhill" "Cycling Women's Team Sprint"
 "Sailing Women's Skiff" "Diving Women's Synchronized Springboard"
 "Swimming Men's 200 metres Team Swimming"
 "Swimming Men's 4 x 250 metres Freestyle Relay" 'Sailing Mixed 12 foot'
 "Swimming Women's 100 metres Freestyle" 'Sailing Mixed 40 metres'
 "Archery Women's Team Round"
 "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team"
 "Shooting Men's Running Target, Double Shot, Team"
 "Cycling Men's Team Pursuit, 1,980 yards"
 "Canoeing Men's Kayak Relay 4 x 500 metres"
 "Shooting Men's Military Rifle, Standing, 300 metres, Team"
 'Art Competitions Mixed Architecture'
 "Shooting Men's Small-Bore Rifle, Prone, 50 metres, Team"
 "Table Tennis Men's Team" "Gymnastics Women's Uneven Bars"
 'Art Competitions Mixed Architecture, Designs For Town Planning'
 "Archery Men's Team Round" "Gymnastics Women's Horse Vault"
 "Athletics Men's 4 mile, Team" "Gymnastics Women's Balance Beam"
 "Athletics Men's Decathlon"]

In [11]:
#vérifications - on peut voir plusieurs valeurs pour "Team"
df = df_gold

df = df.loc[df['Year'] == 1996]
df = df.loc[df['NOC'] == "ESP"]
display(df)
print(len(df))

,Nation,NOC,Year,Sport,Event,Medal
182,Spain,ESP,1996,Water Polo,Water Polo Men's Water Polo,Gold
13309,Spain,ESP,1996,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
13498,Spain,ESP,1996,Sailing,Sailing Mixed Multihull,Gold
102982,Spain,ESP,1996,Cycling,Cycling Men's Individual Time Trial,Gold
252129,Spain,ESP,1996,Sailing,Sailing Women's Two Person Dinghy,Gold

5

In [6]:
#export pour data visualisation
df_medals.to_csv("medals_per_country.csv", index=False)

# Data analyse - Performance aux J.O. par pays
---

In [7]:
#Calcul du nombre d'éditions dans notre data set
df = df_medals
editionsNum = len(df["Year"].unique())
editionsNum

29

In [8]:
#Affichage du top all time
df = df_medals
df = df.groupby("Nation")['Medal'].count().sort_values(ascending=False)
display(df)

#Affichage du top de nombre de médailles d'or all time
df = df_gold
df = df.groupby("Nation")['Medal'].count().sort_values(ascending=False)
display(df)

Nation
USA         2502
Russia      1514
Germany     1343
UK           863
France       740
            ...
Fiji           1
Eritrea        1
Djibouti       1
Sudan          1
Gabon          1
Name: Medal, Length: 132, dtype: int64

Nation
USA                            1028
Russia                          582
Germany                         438
UK                              275
France                          233
                               ...
Grenada                           1
Individual Olympic Athletes       1
Israel                            1
Ivory Coast                       1
Mozambique                        1
Name: Medal, Length: 96, dtype: int64

In [9]:
#calcul du nombre d'événements par année 
df = df_gold
df = df.groupby("Year")["Medal"].count()
df

Year
1896     43
1900     89
1904     95
1906     74
1908    109
1912    106
1920    154
1924    129
1928    118
1932    125
1936    140
1948    143
1952    149
1956    151
1960    150
1964    163
1968    172
1972    193
1976    198
1980    203
1984    221
1988    237
1992    257
1996    271
2000    299
2004    301
2008    302
2012    302
2016    305
Name: Medal, dtype: int64