# Data preparation - Performance aux J.O. par pays
---

In [14]:
import pandas as pd
df_jo = pd.read_csv("athlete_events.csv", sep = ",")
df_jo.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Performances par pays, toutes éditions confondues

In [21]:
df = df_jo

# Données des jeux d'été uniquement
df = df.loc[df['Season'] == "Summer"]

# Sélection des colonnes à garder
df= df.loc[:, ["Team", "NOC", "Year", "Sport", "Event", "Medal"]]

# Suppression des valeurs nulles : athlètes n'ayant pas eu de médaille
df = df.dropna()

#On conserve une seule médaille par event
df=df.groupby(["Year","Event"]).first()
df=df.reset_index()
display(df)

,Year,Event,Team,NOC,Sport,Medal
0,1896,"Athletics Men's 1,500 metres",United States,USA,Athletics,Silver
1,1896,Athletics Men's 100 metres,United States,USA,Athletics,Gold
2,1896,Athletics Men's 110 metres Hurdles,United States,USA,Athletics,Gold
3,1896,Athletics Men's 400 metres,United States,USA,Athletics,Gold
4,1896,Athletics Men's 800 metres,Hungary,HUN,Athletics,Silver
...,...,...,...,...,...,...
5211,2016,"Wrestling Women's Flyweight, Freestyle",Azerbaijan,AZE,Wrestling,Silver
5212,2016,"Wrestling Women's Heavyweight, Freestyle",Russia,RUS,Wrestling,Bronze
5213,2016,"Wrestling Women's Light-Heavyweight, Freestyle",Japan,JPN,Wrestling,Gold
5214,2016,"Wrestling Women's Lightweight, Freestyle",Tunisia,TUN,Wrestling,Bronze
5215,2016,"Wrestling Women's Middleweight, Freestyle",Japan,JPN,Wrestling,Gold