# Data preparation 
---
Avant importation, les bases de données ont été nettoyées de la manière suivante : 
- Suppression des colonnes inutiles dans le jeu athlete_events.csv

## Médailles, athlètes, pays, années
---

In [22]:
# importation du fichier et des packages 
import pandas as pd 
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df = pd.read_csv("../../Datasets_raw/olympic_games_1896_2016/athlete_events.csv", sep = ";", on_bad_lines="warn")
# on ne garde que les JO d'été et on supprime la colonne saison ensuite
df = df.loc[df["Season"].str.contains("Summer")]
df = df.drop(columns = "Season")
# virer les médailles qui sont en doublon à cause des évènements collectifs
df = df.drop_duplicates(subset=["Event", "Medal", "Year"])
# on groupe par année, médailles, et pays  
athlete_series = df.groupby(["NOC", "Year", "Medal"]).size()
df = athlete_series.to_frame(name = "Number of Medals").reset_index()
display(df)
gold = df.loc[df['Year'] == 2016]
gold = gold.loc[df['NOC'] == "FRA"]
gold = gold.loc[df['Medal'] == "Gold"]
# print(gold)
# print(len(gold))
# print(len(df))
# Pivot the dataframe to have separate columns for each medal type
df_pivot = df.pivot(index=["NOC", "Year"], columns="Medal", values="Number of Medals").reset_index().fillna(0)
df_pivot["Total"] = df_pivot["Bronze"] + df_pivot["Gold"] + df_pivot["Silver"]
display(df_pivot)
# df_pivot.to_csv("./datasets_clean/olympics_main/event_medals.csv")

      NOC  Year   Medal  Number of Medals
0     AHO  1988  Silver                 1
1     ALG  1992    Gold                 1
2     ALG  1996  Bronze                 1
3     ALG  1996    Gold                 2
4     ALG  2000  Bronze                 3
...   ...   ...     ...               ...
2743  ZIM  2004  Bronze                 1
2744  ZIM  2004    Gold                 1
2745  ZIM  2004  Silver                 1
2746  ZIM  2008    Gold                 1
2747  ZIM  2008  Silver                 3

[2748 rows x 4 columns]

Medal  NOC  Year  Bronze  Gold  Silver  Total
0      AHO  1988   0.000 0.000   1.000  1.000
1      ALG  1992   0.000 1.000   0.000  1.000
2      ALG  1996   1.000 2.000   0.000  3.000
3      ALG  2000   3.000 1.000   1.000  5.000
4      ALG  2008   1.000 0.000   1.000  2.000
...    ...   ...     ...   ...     ...    ...
1238   YUG  1988   4.000 3.000   4.000 11.000
1239   ZAM  1996   0.000 0.000   1.000  1.000
1240   ZIM  1980   0.000 1.000   0.000  1.000
1241   ZIM  2004   1.000 1.000   1.000  3.000
1242   ZIM  2008   0.000 1.000   3.000  4.000

[1243 rows x 6 columns]

In [23]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
medals = pd.read_csv("../../Datasets_raw/olympic_games_1896_2016/athlete_events.csv", sep = ";", on_bad_lines="warn")
# on ne garde que les JO d'été et on supprime la colonne saison ensuite
medals = medals.loc[medals["Season"].str.contains("Summer")]
medals = medals.drop(columns = "Season")
# virer les médailles qui sont en doublon à cause des évènements collectifs
medals = medals.drop_duplicates(subset=["Event", "Medal", "Year"])
# on groupe par année, médailles, et pays  
athlete_series = medals.groupby(["NOC", "Year", "Medal"]).size()
medals2 = athlete_series.to_frame(name = "Number of Medals").reset_index()
#medals.to_csv("../David/datasets_clean/olympics_main/medals.csv")
#medals2.to_csv("../David/datasets_clean/olympics_main/medals_count.csv")

## PIB 
---

In [24]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# pivoter table PIB 
gdp_cap = pd.read_csv("../../Datasets_raw/indicators/GDP/GDP_raw.csv", on_bad_lines= "warn" )
gdp_cap = gdp_cap.drop(columns = ["Indicator Code", "Unnamed: 67"])
gdp_pivot = gdp_cap.melt(id_vars=["Country Name", "Country Code"], value_vars=gdp_cap.columns[3:-1], var_name="Year", value_name="GDP")
gdp_pivot = gdp_pivot.dropna()
gdp_pivot['GDP/capita'] = gdp_pivot['GDP'].astype(float)/1000000
# gdp_pivot.to_csv("../../dataprep/David/datasets_clean/gdp_country.csv")

display(gdp_pivot)

Skipping line 25: expected 68 fields, saw 69
Skipping line 45: expected 68 fields, saw 69
Skipping line 46: expected 68 fields, saw 69
Skipping line 69: expected 68 fields, saw 69
Skipping line 81: expected 68 fields, saw 69
Skipping line 88: expected 68 fields, saw 69
Skipping line 98: expected 68 fields, saw 69
Skipping line 114: expected 68 fields, saw 69
Skipping line 128: expected 68 fields, saw 69
Skipping line 148: expected 68 fields, saw 69
Skipping line 195: expected 68 fields, saw 69
Skipping line 256: expected 68 fields, saw 69
Skipping line 264: expected 68 fields, saw 69

,Country Name,Country Code,Year,GDP,GDP/capita
1,Africa Eastern and Southern,AFE,1960,153696395951.599,153696.396
3,Africa Western and Central,AFW,1960,105675520010.086,105675.520
9,Argentina,ARG,1960,150797810295.884,150797.810
13,Australia,AUS,1960,205000837562.694,205000.838
14,Austria,AUT,1960,84930957865.742,84930.958
...,...,...,...,...,...
15681,Samoa,WSM,2021,843469448.212,843.469
15682,Kosovo,XKX,2021,7912073583.227,7912.074
15683,South Africa,ZAF,2021,353258433207.809,353258.433
15684,Zambia,ZMB,2021,24495920766.027,24495.921
15685,Zimbabwe,ZWE,2021,20618836228.092,20618.836

## RNB 
---

In [25]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# pivoter RNB 
gni_df = pd.read_csv("../../Datasets_raw/indicators/GNI/GNI_raw.csv", on_bad_lines="warn")
gni_df = gni_df.drop(columns = ["Indicator Code", "Indicator Name", "Unnamed: 67"])
gni_df = gni_df.melt(id_vars=["Country Name", "Country Code"], value_vars=gni_df.columns[2:-1], var_name="Year", value_name="GNI")
gni_df = gni_df.dropna()
gni_df['GNI'] = gni_df['GNI'].astype(float)
gni_df["NOC"] = gni_df["Country Code"]
gni_df = gni_df.drop(columns = ["Country Name", "Country Code"])
gni_df["Year"] = gni_df["Year"].astype(int)
display(gni_df)
# gni_df.to_csv("../David/datasets_clean/country_GNI_clean.csv")

Skipping line 25: expected 68 fields, saw 69
Skipping line 45: expected 68 fields, saw 69
Skipping line 46: expected 68 fields, saw 69
Skipping line 69: expected 68 fields, saw 69
Skipping line 81: expected 68 fields, saw 69
Skipping line 88: expected 68 fields, saw 69
Skipping line 98: expected 68 fields, saw 69
Skipping line 114: expected 68 fields, saw 69
Skipping line 128: expected 68 fields, saw 69
Skipping line 148: expected 68 fields, saw 69
Skipping line 195: expected 68 fields, saw 69
Skipping line 256: expected 68 fields, saw 69
Skipping line 264: expected 68 fields, saw 69

       Year              GNI  NOC
1      1960  17308771402.380  AFE
2      1960    548888848.889  AFG
3      1960  10172829166.944  AFW
13     1960  18638145369.022  AUS
14     1960   6547435003.948  AUT
...     ...              ...  ...
15681  2021    828454234.255  WSM
15682  2021   9591067415.730  XKX
15683  2021 410990090604.222  ZAF
15684  2021  20225790733.053  ZMB
15685  2021  27672250575.440  ZWE

[11630 rows x 3 columns]

## Pourcentage population vivant dans des villes > 1 million d'habitants
---

In [26]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# pivoter pop_urban 
big_urban_df = pd.read_csv("../../Datasets_raw/indicators/demography/urban_big_pop.csv", on_bad_lines="warn")
big_urban_df = big_urban_df.drop(columns = ["Indicator Code", "Indicator Name", "Unnamed: 67"])
big_urban_df = big_urban_df.melt(id_vars=["Country Name", "Country Code"], value_vars=big_urban_df.columns[2:-1], var_name="Year", value_name="big urban share")
big_urban_df = big_urban_df.dropna()
big_urban_df['big urban share'] = big_urban_df['big urban share'].astype(float)
big_urban_df["NOC"] = big_urban_df["Country Code"]
big_urban_df = big_urban_df.drop(columns = ["Country Name", "Country Code"])
big_urban_df["Year"] = big_urban_df["Year"].astype(int)
display(big_urban_df)
# big_urban_df.to_csv("../David/datasets_clean/country_big urban share_clean.csv")

Skipping line 25: expected 68 fields, saw 69
Skipping line 45: expected 68 fields, saw 69
Skipping line 46: expected 68 fields, saw 69
Skipping line 69: expected 68 fields, saw 69
Skipping line 81: expected 68 fields, saw 69
Skipping line 88: expected 68 fields, saw 69
Skipping line 98: expected 68 fields, saw 69
Skipping line 114: expected 68 fields, saw 69
Skipping line 128: expected 68 fields, saw 69
Skipping line 148: expected 68 fields, saw 69
Skipping line 195: expected 68 fields, saw 69
Skipping line 256: expected 68 fields, saw 69
Skipping line 264: expected 68 fields, saw 69

       Year  big urban share  NOC
1      1960            6.444  AFE
2      1960            3.309  AFG
3      1960            4.886  AFW
4      1960            4.096  AGO
7      1960           14.192  ARB
...     ...              ...  ...
15678  2021           18.379  VNM
15680  2021           24.480  WLD
15683  2021           36.545  ZAF
15684  2021           14.923  ZMB
15685  2021            9.640  ZWE

[9300 rows x 3 columns]

## IDH et autres index calculés 
---

In [27]:
# filtrer table IDH pour pas faire peur à Tableau et aussi la pivoter
hdi = pd.read_csv("../../Datasets_raw/indicators/HDI/HDR21-22_Composite_indices_complete_time_series.csv")
hdi = hdi.melt(id_vars=["iso3", "country"], value_vars=hdi.columns[4:-1], var_name="indicator_year", value_name="indicator_value")
hdi = hdi.loc[hdi["indicator_year"].str.contains("hdi|gdi|ihdi|gii|phdi")]
hdi = hdi[hdi["indicator_year"].str.contains("rank|diff|group|_f|_m") == False]
display(hdi)

# hdi.to_csv("../David/datasets_clean/hdi_clean.csv")

,iso3,country,indicator_year,indicator_value
206,AFG,Afghanistan,hdi_1990,0.273
207,AGO,Angola,hdi_1990,NaN
208,ALB,Albania,hdi_1990,0.647
209,AND,Andorra,hdi_1990,NaN
210,ARE,United Arab Emirates,hdi_1990,0.728
...,...,...,...,...
187043,ZZG.ECA,Europe and Central Asia,phdi_2021,0.713
187044,ZZH.LAC,Latin America and the Caribbean,phdi_2021,0.695
187045,ZZI.SA,South Asia,phdi_2021,0.609
187046,ZZJ.SSA,Sub-Saharan Africa,phdi_2021,0.536
187047,ZZK.WORLD,World,phdi_2021,0.667

## Population
---

In [28]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# pivoter population 
pop_country = pd.read_csv("../../Datasets_raw/indicators/demography/pop_year.csv", on_bad_lines="warn")
pop_country = pop_country.drop(columns = ["Indicator Code", "Indicator Name", "Unnamed: 67"])
pop_country = pop_country.melt(id_vars=["Country Name", "Country Code"], value_vars=pop_country.columns[2:-1], var_name="Year", value_name="population (millions)")
pop_country = pop_country.dropna()
pop_country['population (millions)'] = pop_country['population (millions)'].astype(float)/1000000
pop_country = pop_country.drop(columns = "Country Code")
pop_country["NOC"] = pop_country["Country Name"]
pop_country["Year"] = pop_country["Year"].astype(int)
display(pop_country)
# pop_country.to_csv("../David/datasets_clean/country_poop_clean.csv")

Skipping line 22: expected 69 fields, saw 70
Skipping line 40: expected 69 fields, saw 70
Skipping line 41: expected 69 fields, saw 70
Skipping line 59: expected 69 fields, saw 70
Skipping line 68: expected 69 fields, saw 70
Skipping line 75: expected 69 fields, saw 70
Skipping line 84: expected 69 fields, saw 70
Skipping line 92: expected 69 fields, saw 70
Skipping line 106: expected 69 fields, saw 70
Skipping line 119: expected 69 fields, saw 70
Skipping line 161: expected 69 fields, saw 70
Skipping line 211: expected 69 fields, saw 70
Skipping line 218: expected 69 fields, saw 70

      Country Name  Year  population (millions)  NOC
0              ABW  1960                  0.055  ABW
1              AFG  1960                  8.622  AFG
2              AGO  1960                  5.357  AGO
3              ALB  1960                  1.609  ALB
4              AND  1960                  0.009  AND
...            ...   ...                    ...  ...
12829          WSM  2021                  0.219  WSM
12830          XKX  2021                  1.786  XKX
12831          ZAF  2021                 59.392  ZAF
12832          ZMB  2021                 19.473  ZMB
12833          ZWE  2021                 15.994  ZWE

[12804 rows x 4 columns]

## Part de la population âgée de 65 ans et plus
---

In [29]:
# importer le csv
old_pop = pd.read_csv("../../Datasets_raw/indicators/demography/vieux.csv", on_bad_lines="warn")
old_pop = old_pop.drop(columns = ["Country Code", "Indicator Code", "Indicator Name", "Unnamed: 67"])
display(old_pop)
old_pop = old_pop.melt(id_vars=["Country Name"], value_vars=old_pop.columns[1:-1], var_name="Year", value_name="number of 65+")
old_pop = old_pop.dropna()
old_pop['number of 65+'] = old_pop['number of 65+'].astype(float)
old_pop["NOC"] = old_pop["Country Name"]
old_pop["Year"] = old_pop["Year"].astype(int)
old_pop = old_pop.drop(columns = ["Country Name"])
display(old_pop)
# old_pop.to_csv("../David/datasets_clean/vieux.csv")

Skipping line 25: expected 69 fields, saw 70
Skipping line 45: expected 69 fields, saw 70
Skipping line 46: expected 69 fields, saw 70
Skipping line 69: expected 69 fields, saw 70
Skipping line 81: expected 69 fields, saw 70
Skipping line 88: expected 69 fields, saw 70
Skipping line 98: expected 69 fields, saw 70
Skipping line 114: expected 69 fields, saw 70
Skipping line 128: expected 69 fields, saw 70
Skipping line 148: expected 69 fields, saw 70
Skipping line 195: expected 69 fields, saw 70
Skipping line 256: expected 69 fields, saw 70
Skipping line 264: expected 69 fields, saw 70

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Aruba,ABW,1296.000,1374.000,1452.000,1531.000,1610.000,1694.000,1789.000,1898.000,2025.000,...,11169.000,11741.000,12352.000,13005.000,13690.000,14421.000,15189.000,15921.000,16560.000,NaN
Africa Eastern and Southern,AFE,3884927.000,3963281.000,4045930.000,4133338.000,4229377.000,4334314.000,4445426.000,4566248.000,4698156.000,...,16818036.000,17441049.000,18093119.000,18770647.000,19480160.000,20226592.000,20993871.000,21695407.000,22251575.000,NaN
Afghanistan,AFG,244277.000,247678.000,251049.000,254483.000,258112.000,262013.000,266251.000,270892.000,275870.000,...,758025.000,788186.000,812047.000,830919.000,855377.000,883085.000,913174.000,941940.000,964014.000,NaN
Africa Western and Central,AFW,3211093.000,3284876.000,3369164.000,3454519.000,3538245.000,3619685.000,3699003.000,3774160.000,3849772.000,...,11393220.000,11606801.000,11850247.000,12146438.000,12464367.000,12804412.000,13168189.000,13505296.000,13786800.000,NaN
Angola,AGO,165004.000,168371.000,171032.000,173448.000,175477.000,176948.000,177721.000,177807.000,177499.000,...,672911.000,693611.000,716362.000,742232.000,770035.000,800457.000,833428.000,865789.000,895190.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,WSM,3157.000,3271.000,3345.000,3369.000,3424.000,3509.000,3639.000,3744.000,3805.000,...,9455.000,9516.000,9611.000,9755.000,9945.000,10175.000,10442.000,10777.000,11178.000,NaN
Kosovo,XKX,42376.000,42584.000,43351.000,44319.000,45485.000,46787.000,48139.000,49479.000,50638.000,...,136939.000,141869.000,145154.000,149013.000,155582.000,162044.000,167970.000,173450.000,177017.000,NaN
South Africa,ZAF,558526.000,571469.000,586491.000,603925.000,623810.000,646252.000,671052.000,698035.000,727014.000,...,2818948.000,2926780.000,3035329.000,3142859.000,3249695.000,3356734.000,3456202.000,3528430.000,3546983.000,NaN
Zambia,ZMB,84072.000,86708.000,89689.000,92946.000,96301.000,99747.000,103354.000,107071.000,110899.000,...,257693.000,264052.000,271859.000,280813.000,290841.000,302103.000,314716.000,327423.000,338624.000,NaN
Zimbabwe,ZWE,126960.000,130711.000,134407.000,138079.000,141761.000,145452.000,149174.000,152936.000,156698.000,...,405926.000,419578.000,438467.000,457777.000,476921.000,495723.000,513732.000,529049.000,537917.000,NaN

       Year  number of 65+  NOC
0      1960       1296.000  ABW
1      1960    3884927.000  AFE
2      1960     244277.000  AFG
3      1960    3211093.000  AFW
4      1960     165004.000  AGO
...     ...            ...  ...
15681  2021      11178.000  WSM
15682  2021     177017.000  XKX
15683  2021    3546983.000  ZAF
15684  2021     338624.000  ZMB
15685  2021     537917.000  ZWE

[15594 rows x 3 columns]

## Préparation des données pour modèle de régression linéaire 
---

In [30]:
df = pd.read_csv("../../Datasets_raw/olympic_games_1896_2016/athlete_events.csv", sep = ";", on_bad_lines="warn")
# on ne garde que les JO d'été et on supprime la colonne saison ensuite
df = df.loc[df["Season"].str.contains("Summer")]
df = df.drop(columns = "Season")
# virer les médailles qui sont en doublon à cause des évènements collectifs
df = df.drop_duplicates(subset=["Event", "Medal", "Year"])
df_gold = df.loc[df['Medal'] == "Gold"]

# nombre de médailles obtenues par pays par édition
df = df.groupby(["Year","NOC"])["Medal"].count()
df1 = df.reset_index().rename(columns={'Medal':'Total'})
# calcul du nombre d'évènements par année (donc de médailles possibles)
df = df_gold
df = df.groupby("Year")["Medal"].count()
df2 = df.reset_index().rename(columns={'Medal':'Event number'})
# on les fusionne 
df = pd.merge(df1, df2, on=['Year'], how='left')
# on crée des colonnes calculant la part de médailles sur 
# l'ensemble qu'il est possible de remporter par édition
df['Medal share'] = round(df['Total']/(3*df['Event number']) * 100, 2)
display(df)
# on fusionne les valeurs de PIB / pays / année et celles des médailles
df["Year"] = df["Year"].astype(int)
gdp_pivot["Year"] = gdp_pivot["Year"].astype(int)
gdp_pivot["NOC"] = gdp_pivot["Country Code"]
df_reg = pd.merge(df, gdp_pivot, on = ["Year", "NOC"], how = "left")
# supprimer les valeurs nulles 
df_reg = df_reg.dropna(subset=["GDP"])
# on ajoute la population 
df_reg = pd.merge(df_reg, pop_country, on = ["Year", "NOC"], how = "left").dropna()
df_reg = df_reg.drop(columns = ["Country Name_y", "Country Code"])
# on ajoute le PIB/hab 
df_reg["GDP/capita"] = df_reg["GDP"] / (df_reg["population (millions)"] * 1000000)
# on inclut le revenu national brut 
df_reg = pd.merge(df_reg, gni_df, how = "left", on = ["Year", "NOC"]).dropna()
# on ajoute les vieux 
df_reg = pd.merge(df_reg, old_pop, how = "left", on = ["Year", "NOC"]).dropna()
# en pourcentage 
df_reg["number of 65+"] = df_reg["number of 65+"] / (df_reg["population (millions)"] * 1000000) * 100
# on peaufine et on l'écrit en csv
df_reg = df_reg.drop(columns = "Country Name_x")
display(df_reg)
df_reg.to_csv("./datasets_clean/linear_reg/linear_reg.csv")

      Year  NOC  Total  Event number  Medal share
0     1896  AUS      3            43        2.330
1     1896  AUT      5            43        3.880
2     1896  DEN      6            43        4.650
3     1896  FRA     11            43        8.530
4     1896  GBR      8            43        6.200
...    ...  ...    ...           ...          ...
1675  2016  URU      0           306        0.000
1676  2016  USA    119           306       12.960
1677  2016  UZB      8           306        0.870
1678  2016  VEN      3           306        0.330
1679  2016  VIE      2           306        0.220

[1680 rows x 5 columns]

,Year,NOC,Total,Event number,Medal share,GDP,GDP/capita,population (millions),GNI,number of 65+
0,1960,AUS,21,150,4.670,205000837562.694,19948.552,10.276,18638145369.022,8.577
1,1960,AUT,2,150,0.440,84930957865.742,12051.151,7.048,6547435003.948,12.210
2,1960,BEL,4,150,0.890,107409842457.407,11734.306,9.153,11807650531.418,11.987
3,1960,COL,0,150,0.000,30606244696.993,1950.972,15.688,4019001281.085,3.083
4,1960,ESP,1,150,0.220,189278929999.793,6215.036,30.455,12014292254.668,8.190
...,...,...,...,...,...,...,...,...,...,...
642,2016,TUN,2,306,0.220,46291905707.601,3961.426,11.686,43404189944.134,7.680
643,2016,TUR,7,306,0.760,893038641113.713,11022.529,81.019,860511856494.818,7.239
644,2016,UKR,11,306,1.200,93253008739.273,2072.074,45.005,94324202682.447,16.033
645,2016,USA,119,306,12.960,18509601053000.000,57292.539,323.072,19020479000000.000,14.672
646,2016,UZB,8,306,0.870,91309557626.744,2867.051,31.848,86990975001.564,4.419

## Jeu de données pour prédiction 2020
---

In [31]:
# on va simplement prendre l'année 2020 des datasets contenant les variables 
# la population 
pop_2020 = pop_country.loc[pop_country["Year"] == 2020]
# le PIB 
gdp_2020 = gdp_pivot.loc[gdp_pivot["Year"] == 2020]
# RNB 
gni_2020 = gni_df.loc[gni_df["Year"] == 2020]
# vieux 
old_2020 = old_pop.loc[old_pop["Year"] == 2020]
# on fusionne ces 4 dans un seul df 
df_2020 = pd.merge(pop_2020, gdp_2020, how = "left", on = "NOC").dropna()
df_2020 = pd.merge(df_2020, gni_2020, how = "left", on = "NOC").dropna()
df_2020 = pd.merge(df_2020, old_2020, how = 'left', on = "NOC").dropna()
# PIB/tête 
df_2020["GDP/capita"] = df_2020["GDP"] / (df_2020["population (millions)"] * 1000000)
df_2020 = df_2020.drop(columns = ["Country Name_x", "Year_x", "Country Name_y", "Country Code", "Year_y"])
# pourcentage de vieux
df_2020["number of 65+"] = df_2020["number of 65+"] / (df_2020["population (millions)"] * 1000000) * 100
display(df_2020)
df_2020.to_csv("../David/datasets_clean/indic_2020.csv")

C:\Users\pauln\AppData\Local\Temp\ipykernel_9696\1499109107.py:13: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_2020 = pd.merge(df_2020, old_2020, how = 'left', on = "NOC").dropna()

,population (millions),NOC,GDP,GDP/capita,GNI,number of 65+
0,0.107,ABW,2752412117.670,25823.635,2541919139.362,14.937
1,38.972,AFG,21553064853.472,553.036,20332384124.918,2.417
2,33.428,AGO,78482965946.115,2347.787,49106329133.183,2.590
3,2.838,ALB,12516205780.198,4410.455,14881636667.280,15.822
4,9.287,ARE,383342656303.629,41276.056,349010115405.013,1.654
...,...,...,...,...,...,...
183,0.215,WSM,907782067.617,4223.637,838372748.165,5.014
184,1.790,XKX,7144367590.231,3990.970,7903802849.003,9.689
185,58.802,ZAF,336715285679.696,5726.263,331987598189.906,6.001
186,18.928,ZMB,23418945736.899,1237.283,17601655545.925,1.730
187,15.670,ZWE,19009139115.688,1213.117,21031595049.071,3.376